@import "block-size";

$height: 150px;
$width: 273px;
$border-radius: 15px;
$font-color : #7c7c7c;

.bank .card{
    @include block-size($height, $width);
    color: white;
    background-color: #363636;
    margin: 5px 13px;

    border-radius: $border-radius;

    .content{
        padding-top: 18px;
        padding-left: 8px;

        .account{
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
        }

        .number{
            @include block-size(auto, $width - 50);

            font-size: 18px;
            color: $font-color;
            text-align: justify;
            text-align-last: justify;
            padding-top: 15px;
        }

        .footer{
            display: grid;
            color: $font-color;
            grid-template-columns: 1fr 1fr;
            padding-top: 9px;
        }
    }
}

.bank .icons{
    text-align: right;
    font-size: 18px;
    padding-right: 17px;
}
