@import 'block-size';

$default-width: 575px;
$default-height: 355px;
$border-radius: 20px;
$background-color: white;
$margin-bot: 25px;
$bolder-size: bolder;
$title-padding: 20px;

div.row {
  margin-top: 40px;
  @include block-size(auto, 1200px);

  div.col {
    .boardInfo {
      @include block-size($default-height, $default-width);

      margin: 0 5px $margin-bot 10px;
      background-color: $background-color;
      border-radius: $border-radius;

      .title {
        padding-top: 25px;
        padding-right: $title-padding;
        padding-left: $title-padding;
        display: flex;

        a {
          font-weight: $bolder-size;
        }

        .time-period {
          margin-left: auto;
          margin-right: 0;

          a {
            color: #c4c4c4;
            padding-right: 15px;
          }

          a:hover {
            color: #ce6d70;
            text-decoration: underline 2px;
          }
        }
      }

      .balance {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 25px;

        a {
          font-weight: $bolder-size;
        }

        #total {
          font-size: 14px;
          padding-bottom: 8px;
          padding-right: 5px;
        }

        #balance {
          font-size: 24px;
          padding: 0 10px;
        }

        #value {
          font-size: 14px;
          padding-bottom: 4px;
          padding-right: 15px;
        }
      }
      ul {
        list-style-type: none;
      }
      .doughnut-wrapper{
        margin-left: auto;
        margin-right: 0;

        width: 250px;
        height: 250px;
      }
    }
  }

  div.col.transaction-history {
    @include block-size($default-height * 2 + $margin-bot, $default-width);
    background-color: $background-color;
    border-radius: $border-radius;

    .item {
      @include block-size(60px, $default-width - 20);
      display: flex;
    }
  }
}