@import 'block-size';

$default-width: 600px;
$default-height: 355px;
$border-radius: 20px;
$background-color: white;
$margin-bot: 25px;
$bolder-size: bolder;
$title-padding: 20px;

div.row {
  margin-top: 40px;
  @include block-size(auto, 1250px);

  div.col {
    .boardInfo {
      @include block-size($default-height, $default-width);

      margin: 0 5px $margin-bot 10px;
      background-color: $background-color;
      border-radius: $border-radius;

      #line-chart{
        padding-left: 20px;
      }
      #labelsDg{
        padding-left: 12px;
      }

      .balance {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 25px;

        a {
          font-weight: $bolder-size;
        }

        #total {
          font-size: 14px;
          padding-bottom: 8px;
          padding-right: 5px;
        }

        #balance {
          font-size: 24px;
          padding: 0 10px;
        }

        #value {
          font-size: 14px;
          padding-bottom: 4px;
          padding-right: 15px;
        }
      }

      ul {
        list-style-type: none;
      }

      .doughnut-wrapper {
        margin-left: auto;
        margin-right: 0;

        width: 250px;
        height: 250px;
      }
    }
  }

  .title {
    padding-top: 25px;
    padding-right: $title-padding;
    //padding-left: $title-padding;
    display: flex;
    font-size: 16px;

    a {
      font-weight: $bolder-size;
    }

    .topic {
      margin-left: auto;
      margin-right: 0;

      a {
        color: #c4c4c4;
        padding-right: 15px;
      }

      a:hover {
        color: #ce6d70;
        text-decoration: underline 2px;
      }
    }
  }

  div.col.transaction-history {
    @include block-size($default-height * 2 + $margin-bot, $default-width - 20);
    background-color: $background-color;
    border-radius: $border-radius;
    padding-left: 25px;

    .title .topic {
      @include block-size(40px, auto);

      a {
        color: #c4c4c4;
      }
    }

    .item {
      @include block-size(60px, $default-width);
      display: flex;


      .trans-info {
        padding-left: 10px;
        @include block-size(auto, 330px);
        small {
          color: #c8c8c8;
        }
      }

      .price {
        font-size: 20px;
        @include block-size(20px, 20px);
        padding-left: 40px;
        font-weight: bold;

        small {
          font-size: small;
          color: #7c7c7c;
        }

      }
    }

    .date {
      margin-top: 10px;
      @include block-size(40px, auto);
      color: #d5d5d5;
    }
  }
}