@import "block-size";
.item .icons{
    color: #656565;
}

.ui.sidebar.menu .item {
    border-radius: 0!important;
    padding: 30px 0;
    text-align: center;
}
.ui.visible.left.overlay.sidebar{
    @include block-size(auto, 180px);

    background-color: #373737;
}
.font-side-bar{
    color: #AEAEAE;
}

.bottom-aligned {
    margin-top: 230px;
}